.mainContainer{
  height: 97vh;
  display: flex;
  flex-direction: column;
}

.chatContainer{
  margin: 10px;
  flex: 1;
}

.formContainer{
 text-align: center;
 position: sticky;
 bottom: 0;
}

.formContainer input{
  padding: 12px;
  margin-right: 10px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
}

.formContainer button{
  padding: 13px;
  border-radius: 50%;
  border: 1px solid grey;
}

.userContainer{
  width: fit-content;
  margin-left: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: lightgray;
}

.aiContainer{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  border-radius: 7px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}

@media (max-width:420px){
 .formContainer input{
  width: auto;
 }
}